{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "List of statuses" %}{% endblock %}

{% block content %}

<h1 class="my-4">{% trans "Statuses" %}</h1>

<a class="btn btn-primary mb-3" href="{% url 'status_create' %}">{% trans "Create a status" %}</a>

<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans "ID" %}</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Date of creation" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in object_list|dictsort:"id" %}
            <tr class="align-middle">
                <th scope="row">{{ status.id }}</th>
                <td>{{ status.name }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a href="{% url 'status_update' status.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'status_delete' status.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}