{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Task List" %}{% endblock %}

{% block content %}

<h1 class="my-4">{% trans "Task List" %}</h1>

<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans "ID" %}</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Author" %}</th>
                <th scope="col">{% trans "Executor" %}</th>
                <th scope="col">{% trans "Date of creation" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in object_list|dictsort:"id" %}
            <tr class="align-middle">
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'task_update' task.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}