{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Task Manager" %}{% endblock %}

{% block content %}
<div class="content">
    <div class="px-4 pt-5 my-5 text-center ">
        <h1 class="display-4 fw-bold">{% trans "Task Manager" %}</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                {% trans "A Task Manager is a task management system." %}
                {% trans "It allows you to set tasks, assign performers and change their statuses." %} 
                {% trans "The project also implements user registration and authentication." %}
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a class="btn btn-primary btn-lg px-4 me-sm-3
                {% if user.is_authenticated %}disabled{% endif %}
                " href="{% url 'registration' %}" role="button">{% trans "Get Started" %}</a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'users' %}" role="button">{% trans "Users" %}</a>
            </div>
        </div>
        <div class="overflow-hidden border-bottom" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{% static 'product.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4"
                    alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>
{% endblock %}